
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="images/icons/cholon-icon.ico"/>
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/select2/css/select2.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/util.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/admin-login.css">
    </head>

    <body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="images/cholon.png" alt="IMG">
                    </div>
                    <form class="login100-form validate-form">
                        <span class="login100-form-title">Admin Login</span>
                        <div class="alert alert-danger login-fail" role="alert" style="display: none">
                            Tài khoản hoặc mật khẩu không chính xác
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Username is required">
                            <input class="input100" type="text" name="username" placeholder="Username">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" type="password" name="password" placeholder="Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="container-login100-form-btn">
                            <button type="button" class="login100-form-btn btn-login">
                            Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="/vendor/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="/vendor/bootstrap/js/popper.js" type="ac3e8b5ccac4c44c2f2719a2-text/javascript"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/vendor/select2/js/select2.min.js" type="ac3e8b5ccac4c44c2f2719a2-text/javascript"></script>
        <script src="/vendor/tilt/tilt.jquery.min.js" type="ac3e8b5ccac4c44c2f2719a2-text/javascript"></script>
        <script type="ac3e8b5ccac4c44c2f2719a2-text/javascript">
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="ac3e8b5ccac4c44c2f2719a2-text/javascript"></script>
        <script type="ac3e8b5ccac4c44c2f2719a2-text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-23581568-13');
        </script>
        <script src="javascripts/login.js" type="ac3e8b5ccac4c44c2f2719a2-text/javascript"></script>
        <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="ac3e8b5ccac4c44c2f2719a2-|49" defer=""></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.btn-login').click(function(){
                    var username = $('input[name="username"]').val();
                    var password = $('input[name="password"]').val();
                    $.ajax({
                        url: '/admin/login',
                        type:'post',
                        data:{username:username,password:password},
                    }).done(function(res){
                        // console.log(res);
                        location.href='/';

                    }).fail(function(res){
                        var ms = res.responseJSON;
                        if(res.status==401){
                            $('.login-fail').html('Tài khoản hoặc mật khẩu không chính xác').show();
                        }
                        else if(res.status==400){
                            $('.login-fail').html('Vui lòng nhập đủ thông tin').show();
                        }
                        else{
                            alert('Lỗi. Thử lại sau!');
                        }
                    })
                });

            })

        </script>
    </body>
</html>
